:root {
  --white: #f8f5f5;
  --black: #131515;
  --gray: #2b2c28;
  --main: #1f9d8a;
  --light: #d5f6f1;
}

html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

#drag-window {
  margin: 1px;
  height: 1.5rem;
  cursor: all-scroll;
  -webkit-app-region: drag;
}

main {
  padding: 3rem;
}

button, a, select {
  -webkit-app-region: no-drag;
}

#title-img-div {
  margin: 3em;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  /* background: 15% center / cover no-repeat url('./img/title-img.jpg'); */
}

#intro-sect {
  font-size: 32px;
}

#question-sect {
  transition: .2s;
}

#question-big-div {
  z-index: 2;
  position: fixed;
  left: 9vw;
  width: 82vw;
  min-height: 20vh;
  border-radius: 5vh;
  overflow: hidden;
  /* color: var(--white); */
  /* background: rgba(0,0,0,200); */
  background: rgba(255,255,255,.8);
  transition: .3s;
}

#question-big-icon {
  min-width: 6vh;
  height: 6vh;
  border-radius: 22%;
  overflow: hidden;
  /* background: center / contain no-repeat url('./img/message-icon.jpg'); */
}

#question-x {
  width: 3vh;
  height: 3vh;
  /* background: center / contain no-repeat url('./img/whitex.svg'); */
}

#question-big {
  border-top: 2px solid var(--gray);
}

.offscreen {
  top: 100vh;
}
.onscreen {
  top: 9vh;
}

.darkener {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(0,0,0,.7);
  opacity: 0;
  transition: .2s;
}
#question-big-div.onscreen ~ .darkener {
  opacity: 1;
}

#blank-screen {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--white);
}

.answer-col {
  min-height: 40vh;
}
.answer-col:nth-child(odd) {
  background-color: var(--light);
  background-blend-mode: soft-light;
}

/* utility classes */
.blur {
  filter: blur(5px);
}
/* display */
.d-none { display: none; }
.d-flex { display: flex; }

/* margin and padding */
.m-0 { margin: 0 }
.m-1 { margin: 1rem; }
.mt-1 { margin-top: 1rem; }
.mr-1 { margin-right: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.ml-1 { margin-left: 1rem; }
.mt-1-5 { margin-top: 1.5rem; }
.mr-1-5 { margin-right: 1.5rem; }
.mb-1-5 { margin-bottom: 1.5rem; }
.ml-1-5 { margin-left: 1.5rem; }
.mt-2 { margin-top: 2rem; }
.mr-2 { margin-right: 2rem; }
.mb-2 { margin-bottom: 2rem; }
.ml-2 { margin-left: 2rem; }
.mt-3 { margin-top: 3rem; }
.mr-3 { margin-right: 3rem; }
.mb-3 { margin-bottom: 3rem; }
.ml-3 { margin-left: 3rem; }

.p-0 { padding: 0 }
.p-1 { padding: 1rem; }
.p-2 { padding: 2rem; }
.pt-1 { padding-top: 1rem; }
.pr-1 { padding-right: 1rem; }
.pb-1 { padding-bottom: 1rem; }
.pl-1 { padding-left: 1rem; }
.pt-1-5 { padding-top: 1.5rem; }
.pr-1-5 { padding-right: 1.5rem; }
.pb-1-5 { padding-bottom: 1.5rem; }
.pl-1-5 { padding-left: 1.5rem; }
.pt-2 { padding-top: 2rem; }
.pr-2 { padding-right: 2rem; }
.pb-2 { padding-bottom: 2rem; }
.pl-2 { padding-left: 2rem; }
.pt-3 { padding-top: 3rem; }
.pr-3 { padding-right: 3rem; }
.pb-3 { padding-bottom: 3rem; }
.pl-3 { padding-left: 3rem; }

/* flex */
.row { flex-direction: row; }
.col { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }

.jcc { justify-content: center; }
.aic { align-items: center; }

.flex-b-100 { flex-basis: 100%; }

.gap-1 { gap: 1em; }
.gap-1-5 { gap: 1.5em; }
.gap-2 { gap: 2em; }

/* text */
.fs-1 { font-size: 1em; }
.fs-1-5 { font-size: 1.5em; }
.fs-2 { font-size: 2em; }
.fs-3 { font-size: 3em; }
.fs-4 { font-size: 4em; }
.fs-5 { font-size: 5em; }
.fs-6 { font-size: 6em; }

.tac { text-align: center; }

.wb-bw { word-break: break-word; }

.c-white { color: var(--white); }
.c-black { color: var(--black); }
.c-gray { color: var(--gray); }
.c-main { color: var(--main); }
.c-light { color: var(--light); }